h1,body,html,h2,p,div.row{
    padding:0;
    margin: 0;
}
body{
    font-family:Arial,"Microsoft YaHei",sans-serif;
}
h1{
    font-size:6em;
    font-weight: bold;
}
p{
    font-size:2em;
    margin: 0.5em 0 2em 0;
}
html,body{
    height:100%;
}
div.photo{
    margin-top:40px;
}
div.me{
    padding-top:40px;
}
div.photo img{
    width:250px;
    height: 250px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
div.person-info{
    text-align: center;
}
div.title h2{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
}
div.title p{
    color: #fff;
}
div.row{
    text-align:center;
}
div#section1 h1,div#section2 h1,div#section3 h1,div#section4 h1{
    font-size: 52px;
    color:#fff;
    text-shadow: 4px 4px 4px #777;
}
div#section1 a{
    font-size: 34px;
    font-weight: bold;
    color: #337ab7;
    text-decoration: none;
}
div#section1 a:hover{
    color:greenyellow;
    -webkit-transition:all 0.5s ease-in-out 0.2s;
    -moz-transition: all 0.5s ease-in-out 0.2s;
    -ms-transition: all 0.5s ease-in-out 0.2s;
    -o-transition: all 0.5s ease-in-out 0.2s;
    transition: all 0.5s ease-in-out 0.2s;
}
div#section1 p,div#section1 .watch{
    font-size:20px;
    color:#aee2d9;
}
div.project-content1{
    margin-top:50px;
}
div#section1 .watch{
    color: #337ab7;
}
div#section1 div.project-content1,div#section1 div.project-content2{
    text-align:left;
}
div#section2{
    text-align: center;
    position: relative;
}
div#section2 h1{
     margin-top:-100px;
 }
div#section2 span.expert{
    width:120px;
}
div#section2 span.familiar{
    width:100px;
    opacity:0.7;
    filter:alpha(opacity=70);
}
div#section2 span.familiar,div#section2 span.expert{
    background:darkslateblue;
    color: #fff;
    font-size:16px;
    height:30px;
    line-height:30px;
    margin:5px;
    display:inline-block;
    border:1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div#section3 dl {
    color: #8470FF;
}
div#section3 dt.title{
    font-size:20px;
    font-weight: bold;
}
div#section3 dd.duty{
    font-size:26px;
    font-weight:bold;
    margin:5px 0;
}
div#section3 dd.business{
    font-size:20px;
    font-weight:bold;
}
div#section3 div.working{
    margin-top:40px;
}
div#section3 h2{
    font-size:28px;
    color:#6A5ACD;
}
div#section4 div.university,
div#section4 div.major,
div#section4 div.major-course,
div#section4 div.certificate{
    margin: 10px 0;
    color:#008B8B;
    font-weight: bold;
}
div#section4 div.university{
    font-size:30px;
}
div#section4 div.major{
    font-size: 24px;
}
div#section4 div.major-course{
    font-size: 20px;
}
div#section4 div.certificate{
    font-size:28px;
}
div#section4 div.education{
    margin-bottom:40px;
}